/* tablesorter 2.0
----------------------------------------------------------*/
table.tablesorter {
	font-family:Arial;
	background-color: #CDCDCD;
	/*margin:10px 0pt 15px;*/
	font-size: 10pt;
	text-align: left;
    border: 1px solid #bbb;
    color: #000;
    padding: 0px;
    white-space: nowrap;
}
td.wrap {
    white-space: normal;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	font-size: 8pt;
	padding: 4px;
    border: 1px solid #bbb;
    line-height: inherit;
}

.tablesorter-header {
	background-image: url(/Images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
    padding-right: 9px;
    padding-left: 1px;
}
table.tablesorter tbody td {
	padding: 2px;
	background-color: #FFF;
	vertical-align: top;
    border: 1px solid #bbb;
}
table.tablesorter a:hover { background-color: none; background: none; text-decoration: underline; }
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
.tablesorter-headerAsc {
	background-image: url(/Images/asc.gif);
}
.tablesorter-headerDesc {
	background-image: url(/Images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
.tablesorter-filter {
    /*width: 99%;*/
    position:relative;
}
.tablesorter-filter-row td {
    padding-right: 0px;
    padding-left: 0px;
}
/*************
  Blue Theme
 *************/
/* overall */
.tablesorter-blue {
	background-color: #fff;
	margin: 10px 0 15px;
	text-align: left;
	border-spacing: 0;
	border: #cdcdcd 1px solid;
	border-width: 1px 0 0 1px;
}
.tablesorter-blue th,
.tablesorter-blue td {
	border: #cdcdcd 1px solid;
	border-width: 0 1px 1px 0;
}

/* header */
.tablesorter-blue th,
.tablesorter-blue thead td {
	font: bold 12px/18px Arial, Sans-serif;
	color: #000;
	background-color: #99bfe6;
	border-collapse: collapse;
	padding: 4px;
	text-shadow: 0 1px 0 rgba(204, 204, 204, 0.7);
}
.tablesorter-blue .header,
.tablesorter-blue .tablesorter-header {
	background-image: url(/Images/bg.gif);	/* white (unsorted) double arrow */
	background-repeat: no-repeat;
	background-position: center right;
	padding: 4px 18px 4px 4px;
	white-space: normal;
	cursor: pointer;
}
.tablesorter-blue .headerSortUp,
.tablesorter-blue .tablesorter-headerSortUp,
.tablesorter-blue .tablesorter-headerAsc {
	background-color: #9fbfdf;
	background-image: url(/Images/asc.gif);
}
.tablesorter-blue .headerSortDown,
.tablesorter-blue .tablesorter-headerSortDown,
.tablesorter-blue .tablesorter-headerDesc {
	background-color: #8cb3d9;
	background-image: url(/Images/desc.gif);
}
.tablesorter-blue thead .sorter-false {
	background-image: none;
	cursor: default;
	padding: 4px;
}

/* tbody */
.tablesorter-blue td {
	color: #000;
	background-color: #fff;
	padding: 4px;
	vertical-align: top;
}

/* hovered row colors
 you'll need to add additional lines for
 rows with more than 2 child rows
 */
.tablesorter-blue tbody > tr:hover > td,
.tablesorter-blue tbody > tr:hover + tr.tablesorter-childRow > td,
.tablesorter-blue tbody > tr:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td,
.tablesorter-blue tbody > tr.even:hover > td,
.tablesorter-blue tbody > tr.even:hover + tr.tablesorter-childRow > td,
.tablesorter-blue tbody > tr.even:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td {
	background: #d9d9d9;
}
.tablesorter-blue tbody > tr.odd:hover > td,
.tablesorter-blue tbody > tr.odd:hover + tr.tablesorter-childRow > td,
.tablesorter-blue tbody > tr.odd:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td {
	background: #bfbfbf;
}

/* Zebra Widget - row alternating colors */
.tablesorter-blue tbody tr.odd > td {
	background-color: #ebf2fa;
}
.tablesorter-blue tbody tr.even > td {
	background-color: #fff;
}

/* Column Widget - column sort colors */
.tablesorter-blue td.primary,
.tablesorter-blue tr.odd td.primary {
	background-color: #99b3e6;
}
.tablesorter-blue tr.even td.primary {
	background-color: #c2d1f0;
}
.tablesorter-blue td.secondary,
.tablesorter-blue tr.odd td.secondary {
	background-color: #c2d1f0;
}
.tablesorter-blue tr.even td.secondary {
	background-color: #d6e0f5;
}
.tablesorter-blue td.tertiary,
.tablesorter-blue tr.odd td.tertiary {
	background-color: #d6e0f5;
}
.tablesorter-blue tr.even td.tertiary {
	background-color: #ebf0fa;
}

/* caption */
caption {
	background: #fff;
}

/* filter widget */
.tablesorter-blue .tablesorter-filter-row {
	background: #eee;
}
.tablesorter-blue .tablesorter-filter-row td {
	background: #eee;
	line-height: normal;
	text-align: center; /* center the input */
	-webkit-transition: line-height 0.1s ease;
	-moz-transition: line-height 0.1s ease;
	-o-transition: line-height 0.1s ease;
	transition: line-height 0.1s ease;
}
/* optional disabled input styling */
.tablesorter-blue .tablesorter-filter-row .disabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
	cursor: not-allowed;
}
/* filters */
.tablesorter-blue input.tablesorter-filter,
.tablesorter-blue select.tablesorter-filter {
	width: 98%;
	height: auto;
	margin: 0;
	padding: 4px;
	background-color: #fff;
	border: 1px solid #bbb;
	color: #333;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: height 0.1s ease;
	-moz-transition: height 0.1s ease;
	-o-transition: height 0.1s ease;
	transition: height 0.1s ease;
}
/* rows hidden by filtering (needed for child rows) */
.tablesorter .filtered {
	display: none;
}

/* ajax error row */
.tablesorter .tablesorter-errorRow td {
	text-align: center;
	cursor: pointer;
	background-color: #e6bf99;
}
.notes {
    white-space: nowrap;
}
.NotesDiv {
    font-size: 8pt;
    overflow: auto;
    display: none;
}
.notes code {
    background-color: #e6e6e6;
    /*padding: 1px 5px;*/
}

/* tablesorter columnselector
----------------------------------------------------------*/
.columnSelectorWrapper {
  position: relative;
  margin: 10px 0;
  display: inline-block;
  font-family:Arial;
  font-size: 10pt;
  white-space: nowrap;
  z-index: 1;
}
.columnSelector, .hidden {
  display: none;
}
.columnSelectorButton {
  background: #99bfe6;
  border: #888 1px solid;
  color: #111;
  border-radius: 5px;
  padding: 5px;
}
#colSelect1:checked + label {
  background: #5797d7;
  border-color: #555;
}
#colSelect1:checked ~ #columnSelector {
  display: block;
}
.columnSelector {
  width: auto;
  position: absolute;
  top: 30px;
  padding: 10px;
  background: #fff;
  border: #99bfe6 1px solid;
  border-radius: 5px;
}
.columnSelector label {
  display: block;
}
.columnSelector label:nth-child(1) {
  /*border-bottom: #99bfe6 solid 1px;
  margin-bottom: 5px;*/
}
.columnSelector input {
  margin-right: 5px;
}
.columnSelector .disabled {
  color: #ddd;
}