<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://goblinary.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>ivy.arvixe.com:8172</MSDeployServiceURL>
    <DeployIisAppPath>goblinary.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>goblinarycom_pub</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="IdentityConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=ivy.arvixe.com;Initial Catalog=identity;Persist Security Info=True;User ID=identityuser;Password=AaRD2Ji1d7" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\IdentityConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=ivy.arvixe.com;Initial Catalog=identity;Persist Security Info=True;User ID=identityuser;Password=AaRD2Ji1d7" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LocalIdentityConnection" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LocalIdentityConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=(LocalDb)\v11.0;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CharacterDb" Order="16" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=ivy.arvixe.com;Initial Catalog=characterdb;Persist Security Info=True;User ID=wikiuser;Password=UPaDvA5n0g;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CharacterDb_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=ivy.arvixe.com;Initial Catalog=characterdb;Persist Security Info=True;User ID=wikiuser;Password=UPaDvA5n0g;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="WikiDb" Order="17" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=ivy.arvixe.com;Initial Catalog=wikidb;Persist Security Info=True;User ID=wikiuser;Password=UPaDvA5n0g;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WikiDb_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=ivy.arvixe.com;Initial Catalog=wikidb;Persist Security Info=True;User ID=wikiuser;Password=UPaDvA5n0g;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LocalCharacterDb" Order="18" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Goblinary.CharacterData.SqlServer.CharacterDataContext, Goblinary.CharacterData.SqlServer" MigrationConfiguration="Goblinary.CharacterData.SqlServer.Migrations.Configuration, Goblinary.CharacterData.SqlServer" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="LocalWikiDb" Order="19" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Goblinary.WikiData.SqlServer.WikiDataContext, Goblinary.WikiData.SqlServer" MigrationConfiguration="Goblinary.WikiData.SqlServer.Migrations.Configuration, Goblinary.WikiData.SqlServer" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PublicTestCharacterDb" Order="20" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=ivy.arvixe.com;Initial Catalog=charactertestdb;Persist Security Info=True;User ID=wikiuser;Password=UPaDvA5n0g;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PublicTestCharacterDb_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=ivy.arvixe.com;Initial Catalog=charactertestdb;Persist Security Info=True;User ID=wikiuser;Password=UPaDvA5n0g;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="PublicTestWikiDb" Order="21" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=ivy.arvixe.com;Initial Catalog=wikitestdb;Persist Security Info=True;User ID=wikiuser;Password=UPaDvA5n0g;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PublicTestWikiDb_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=ivy.arvixe.com;Initial Catalog=wikitestdb;Persist Security Info=True;User ID=wikiuser;Password=UPaDvA5n0g;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IdentityConnection-Web.config Connection String" />
  </ItemGroup>
</Project>