/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 1279px) {

    .grid23 {
        width: auto;
    }

    /* header
    ----------------------------------------------------------*/
    .header .site-title {
        margin: 10px;
        text-align: center;
    }
    .logo {
        float: left;
    }
    .logo-image1 {
        z-index: 20;
        width: 87px;
        height: 96px;
    }
    .logoDiv {
        z-index: 20;
        position:absolute;
        margin-left: -30px;
        margin-top: -18px;
    }

     /* menu */
    .nav {
        display: inline-block;
        float: none;
        margin-left: 00px;
    }
    ul#menu li {
        padding-left: 2px;
    }
.searchPanel {
    margin-left: 75px;
    float: none;
    display: inline-block;
}
.loginPanel {
    float: right;
    display: inline-block;
}

    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }
        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }
            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

     /* features */
     section.feature {
        float: none;
        padding: 10px;
        width: auto;
     }
        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }
        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }
    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }

    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }
    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }
        footer p {
            margin: 0;
        }
    .mobileWarning {
        visibility:visible;
    }
}
/* END: Mobile Styles */